{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead mb-0" style="background-image: url('{{ url_for('static' , filename = 'img/Home.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['blog_name']}}</h1>
            <span class="subheading">{{params['tag_block']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Message Flashing Start Here-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category , message in messages %}
  
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>

{% endfor %}
{% endif %}
{% endwith %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

    	{% for post in posts %}
       
        <div class="post-preview">
          <a href="/post/{{post.slug}}">
            <h2 class="post-title">
            	{{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.tag_line}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Admin</a>
            on {{post.date}}</p>
        </div>
        {{post.content}}
        <hr>
        </li> </a>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          {% if number!=0 %}
          <a class="btn btn-primary float-left" href="{{prev}}">&larr; Previous </a>
          {% endif %}
          <a class="btn btn-primary float-right" href="{{next}}">Next &rarr;</a>
        </div>

      </div>
    </div>
  </div>

<hr>

{% endblock %}